*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#new-user-table,#existing-user-table {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 450;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid powderblue;
    border-bottom: 1px solid #fff;
}

#new-user-tab:checked ~ #new-user-table,
#existing-user-tab:checked ~ #existing-user-table {
    display: block;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}